<div class="free my-3">
  <div class="alert alert-info" role="alert">
    This token has the same features as Pro token and you will share 5% of your
    total taxes to us. Ex: your total tax fee is 10%, you will get 9.5% tax and
    we'll get 0.5%
  </div>
  <form id="free">
    <div class="form-group row">
      <label class="col-sm-3 col-form-lable">Contract name</label>
      <div class="col-sm-9">
        <input
          class="contract_name"
          type="text"
          placeholder=""
          name="contract_name"
          title="Enter contract name without spaces"
          noSpaces="true"
        />
        <p class="hint">
          Choose a name for your token contract (without spaces, ex:
          MyAwesomeToken)
        </p>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-lable">Token name</label>
      <div class="col-sm-9">
        <input
          class="token_name"
          type="text"
          placeholder=""
          required
          name="token_name"
          title="Enter token name"
        />
        <p class="hint">Choose a name for your token.</p>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-lable">Token symbol </label>
      <div class="col-sm-9">
        <input
          class="token_symbol"
          type="text"
          placeholder=""
          required
          name="token_symbol"
          title="Enter token symbol"
        />
        <p class="hint">Choose a symbol for your token (usually 3-5 chars).</p>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-lable">Total supply </label>
      <div class="col-sm-9">
        <input
          class="token_supply"
          type="number"
          min="1"
          max="1000000000000000"
          placeholder=""
          name="total_supply"
          integer="true"
          required
        />
        <p class="hint">
          Insert the initial number of tokens available. Will be put in your
          account.
        </p>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-lable">Decimals </label>
      <div class="col-sm-9">
        <input
          class="decimals"
          type="number"
          min="2"
          max="18"
          placeholder="18"
          name="decimals"
          integer="true"
        />
        <p class="hint">
          Insert the decimal precision of your token. If you don't know what to
          insert, use 18.
        </p>
      </div>
    </div>

    <div class="form-check mt-2">
      <input
        class="form-check-input max_wallet_percent"
        type="checkbox"
        value=""
        id="max_wallet_percent_option"
      />
      <label class="form-check-label" for="max_wallet_percent_option">
        <p><strong>Max Wallet Limit</strong></p>
      </label>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-lable">Max Wallet %</label>
      <div class="col-sm-9">
        <input
          class="max_wallet_percent"
          name="max_wallet_percent"
          type="number"
          placeholder=""
          min="0.01"
          max="100"
          required
        />
        <p class="hint">
          Enter the maximum wallet limit (0.01-100 % of total supply)
        </p>
      </div>
    </div>
    <!-- <div>
        <label for="max_wallet_percent" class="form-label">0</label>
        <input type="range" class="form-range" min="0" max="100" step="1" id="max_wallet_percent" value="0">
        <p class="hint">
            Enter the maximum wallet limit (0.01-100 % of total supply).
        </p>
    </div> -->

    <!-- <script>
        $("#max_wallet_percent").change(() => {
            $("#max_wallet_percent").parent().find("label").text($("#max_wallet_percent").val());
        })
    </script> -->

    <div class="form-check mt-2">
      <input
        class="form-check-input max_tx_percent"
        type="checkbox"
        value=""
        id="max_tx_limit_option"
      />
      <label class="form-check-label" for="max_tx_limit_option">
        <p><strong>Max Transaction Limit</strong></p>
      </label>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-lable">Max Transaction %</label>
      <div class="col-sm-9">
        <input
          class="max_tx_percent"
          type="number"
          placeholder=""
          min="0.01"
          max="100"
          name="maxTxPercent"
          required
        />
        <p class="hint">
          Enter the maximum transaction allowed (0.01-100 % of total supply)
        </p>
      </div>
    </div>

    <div class="form-check mt-2">
      <input
        class="form-check-input reward_to_holders"
        type="checkbox"
        value=""
        id="reward_to_holders_option"
      />
      <label class="form-check-label" for="reward_to_holders_option">
        <p><strong>Rewards to Holders</strong></p>
      </label>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-lable">Token reward </label>
      <div class="col-sm-9">
        <select
          class="form-select reward_token rewardContainer"
          aria-label="Default select example"
          required
        >
          <option value="0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c" selected>
            BNB
          </option>
          <option value="0xe9e7cea3dedca5984780bafc599bd69add087d56">
            BUSD
          </option>
          <option value="0x7130d2a12b9bcbfae4f2634d864a1ee1ce3ead9c">
            BTC
          </option>
          <option value="0x2170ed0880ac9a755fd29b2688956bd959f933f8">
            ETH
          </option>
          <option value="0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82">
            CAKE
          </option>
          <option value="0xba2ae424d960c26247dd6c32edc70b295c744c43">
            DOGE
          </option>
          <option value="0x3ee2200efb3400fabb9aacf31297cbdd1d435d47">
            ADA
          </option>
        </select>
        <p class="hint">Select reward token to be distributed among holders.</p>
      </div>

      <label class="col-sm-3 col-form-lable specific_reward_token"> </label>
      <div class="col-sm-9 specific_reward_token">
        <input
          class="col-sm-9 specific_reward_token"
          type="text"
          placeholder=""
          ethAddress="true"
          required
        />

        <p class="hint">Enter the token address to be used as reward token.</p>
      </div>

      <label class="col-sm-3 col-form-lable">Reward Fees % </label>
      <div class="col-sm-9">
        <input
          class="reward_fees"
          type="number"
          min="0"
          placeholder=""
          max="10"
          integer="true"
          name="rewardFees"
          required
        />
        <p class="hint">Transaction fee in % to pay dividend to holders.</p>
      </div>
      <label class="col-sm-3 col-form-lable">Minimum HOLD</label>
      <div class="col-sm-9">
        <input
          class="min_tokens"
          type="number"
          min="1"
          placeholder=""
          integer="true"
          name="minTokens"
          required
        />
        <p class="hint">
          Minimum tokens required for user to receive reward. Ex: 1000
        </p>
      </div>
    </div>

    <div class="form-check mt-2">
      <input
        class="form-check-input auto_liquidity_generation"
        type="checkbox"
        value=""
        id="auto_liquidity_generation_option"
      />
      <label class="form-check-label" for="auto_liquidity_generation_option">
        <p><strong>Automatic Liquidity Generation</strong></p>
      </label>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-lable">Liquidity Fees % </label>
      <div class="col-sm-9">
        <input
          class="liquidity_fees"
          type="number"
          min="0"
          placeholder=""
          max="10"
          integer="true"
          name="liquidityFees"
          required
        />
        <p class="hint">Transaction fee in % to generate liquidity.</p>
      </div>

      <div class="form-check form-switch">
        <input
          class="form-check-input liquidity_burnt"
          type="checkbox"
          id="liquidity_burnt"
          value="true"
        />
        <label class="form-check-label" for="liquidity_burnt">
          Burn Generated Liquidity</label
        >

        <p class="hint">
          Automatic generated liquidity will be burnt if this is enabled,
          instead of sending it to owner.
        </p>
      </div>
    </div>

    <div class="form-check mt-2">
      <input
        class="form-check-input burn"
        type="checkbox"
        value=""
        id="burn_option"
      />
      <label class="form-check-label" for="burn_option">
        <p><strong>Burn</strong></p>
      </label>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-lable">Burn Fees % </label>
      <div class="col-sm-9">
        <input
          class="burn_fees"
          type="number"
          min="0"
          placeholder=""
          max="10"
          integer="true"
          name="burnFees"
          required
        />
        <p class="hint">Transaction fee in % to burn.</p>
      </div>
    </div>

    <div class="form-check mt-2">
      <input
        class="form-check-input marketing_wallet"
        type="checkbox"
        value=""
        id="marketing_wallet_option"
      />
      <label class="form-check-label" for="marketing_wallet_option">
        <p><strong>Marketing Wallet</strong></p>
      </label>
    </div>

    <div class="form-group mt-2 mb-3">
      <input
        class="marketing_wallet_addr col-sm-6"
        type="text"
        placeholder=""
        ethAddress="true"
        name="marketingWallet"
      />
      <p class="hint">Marketing tax will be sent to marketing wallet.</p>
      <div class="col">
        <label class="col-sm-3 col-form-lable">Marketing Fees % </label>

        <input
          class="marketing_fees col-sm-3"
          type="number"
          min="0"
          placeholder=""
          max="10"
          integer="true"
          name="marketingFees"
          required
        />
        <p class="hint">Transaction fee in % to generate marketing budget.</p>
      </div>

      <!-- <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckChecked"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Send Fee in <span class="nativeToken">BNB</span></label
        >
      </div> -->

      <div class="marketingFeeType">
        <label>Send Fee in:</label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="marketingFeeType"
            id="marketingFeeType0"
            value="0"
            checked
          />
          <label class="form-check-label" for="marketingFeeType0">
            Your tokens
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="marketingFeeType"
            id="marketingFeeType1"
            value="1"
          />
          <label class="form-check-label" for="marketingFeeType1">
            <span class="nativeToken">BNB</span>
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="marketingFeeType"
            id="marketingFeeType2"
            value="2"
          />
          <label class="form-check-label" for="marketingFeeType2">
            Other tokens
          </label>
        </div>
      </div>

      <label
        class="col-sm-3 col-form-lable specific_reward_token_for_marketing"
      >
      </label>
      <div class="col-sm-9 specific_reward_token_for_marketing">
        <input
          class="col-sm-9 specific_reward_token_for_marketing"
          type="text"
          placeholder=""
          ethAddress="true"
          required
        />

        <p class="hint">Enter token address for fees.</p>
      </div>
    </div>

    <div class="form-check mt-2">
      <input
        class="form-check-input charity_wallet"
        type="checkbox"
        value=""
        id="charity_wallet_option"
      />
      <label class="form-check-label" for="charity_wallet_option">
        <p><strong>Charity Wallet</strong></p>
      </label>
    </div>

    <div class="form-group mt-2 mb-3">
      <input
        class="charity_wallet_addr col-sm-6"
        type="text"
        placeholder=""
        ethAddress="true"
        name="charityWallet"
      />
      <p class="hint">Charity tax will be sent to charity wallet.</p>
      <div class="col">
        <label class="col-sm-3 col-form-lable">Charity Fees % </label>
        <input
          class="charity_fees col-sm-3"
          type="number"
          min="0"
          placeholder=""
          max="25"
          integer="true"
          name="charityFees"
          required
        />
        <p class="hint">Transaction fee in % to generate charity budget.</p>
      </div>

      <!-- <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckChecked1"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked1"
          >Send Fee in <span class="nativeToken">BNB</span></label
        >
      </div> -->

      <div class="charityFeeType">
        <label>Send Fee in:</label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="charityFeeType"
            id="charityFeeType0"
            value="0"
            checked
          />
          <label class="form-check-label" for="charityFeeType0">
            Your tokens
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="charityFeeType"
            id="charityFeeType1"
            value="1"
          />
          <label class="form-check-label" for="charityFeeType1">
            <span class="nativeToken">BNB</span>
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="charityFeeType"
            id="charityFeeType2"
            value="2"
          />
          <label class="form-check-label" for="charityFeeType2">
            Other tokens
          </label>
        </div>
      </div>

      <label class="col-sm-3 col-form-lable specific_reward_token_for_charity">
      </label>
      <div class="col-sm-9 specific_reward_token_for_charity">
        <input
          class="col-sm-9 specific_reward_token_for_charity"
          type="text"
          placeholder=""
          ethAddress="true"
          required
        />

        <p class="hint">Enter token address for fees.</p>
      </div>
    </div>
    <div class="form-check mt-2">
      <input
        class="form-check-input dev_wallet"
        type="checkbox"
        value=""
        id="dev_wallet_option"
      />
      <label class="form-check-label" for="dev_wallet_option">
        <p><strong>Dev Wallet</strong></p>
      </label>
    </div>

    <div class="form-group mt-2 mb-3">
      <input
        class="dev_wallet_addr col-sm-6"
        type="text"
        placeholder=""
        ethAddress="true"
        name="devWallet"
      />
      <p class="hint">Dev tax will be sent to dev wallet.</p>
      <div class="col">
        <label class="col-sm-3 col-form-lable">Dev Fees % </label>
        <input
          class="dev_fees col-sm-3"
          type="number"
          min="0"
          placeholder=""
          max="25"
          integer="true"
          name="devFees"
          required
        />
        <p class="hint">Transaction fee in % to generate dev budget.</p>
      </div>

      <!-- <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckChecked1"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked1"
          >Send Fee in <span class="nativeToken">BNB</span></label
        >
      </div> -->

      <div class="devFeeType">
        <label>Send Fee in:</label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="devFeeType"
            id="devFeeType0"
            value="0"
            checked
          />
          <label class="form-check-label" for="devFeeType0">
            Your tokens
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="devFeeType"
            id="devFeeType1"
            value="1"
          />
          <label class="form-check-label" for="devFeeType1">
            <span class="nativeToken">BNB</span>
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="devFeeType"
            id="devFeeType2"
            value="2"
          />
          <label class="form-check-label" for="devFeeType2">
            Other tokens
          </label>
        </div>
      </div>

      <label class="col-sm-3 col-form-lable specific_reward_token_for_dev">
      </label>
      <div class="col-sm-9 specific_reward_token_for_dev">
        <input
          class="col-sm-9 specific_reward_token_for_dev"
          type="text"
          placeholder=""
          ethAddress="true"
          required
        />

        <p class="hint">Enter token address for fees.</p>
      </div>
    </div>

    <div class="form-check mt-2">
      <input
        class="form-check-input buyback_burn"
        type="checkbox"
        value=""
        id="buyback_burn_option"
      />
      <label class="form-check-label" for="buyback_burn_option">
        <p><strong>Buyback and Burn</strong></p>
      </label>
    </div>

    <div class="form-group row">
      <div class="col">
        <label class="col-sm-3 col-form-lable">Buyback and Burn Fees % </label>

        <input
          class="buyback_burn_fees col-sm-3"
          type="number"
          min="0"
          placeholder=""
          max="10"
          integer="true"
          name="buybackBurnFees"
          required
        />
        <p class="hint">
          Enter the transaction fee % that would be used to buyback and burn
          tokens (0-10)
        </p>
      </div>
    </div>

    <div class="form-check mt-2">
      <input
        class="form-check-input extra_sell"
        type="checkbox"
        value=""
        id="extra_sell_option"
      />
      <label class="form-check-label" for="extra_sell_option">
        <p>
          <strong>Extra Sell Tax </strong>
        </p>
      </label>
    </div>

    <div class="form-group row">
      <div class="col">
        <label class="col-sm-3 col-form-lable">Extra Sell Fees % </label>

        <input
          class="extra_sell_fees col-sm-3"
          type="number"
          min="0"
          placeholder=""
          max="10"
          integer="true"
          name="extraSellFees"
          required
        />
        <p class="hint">
          Enter the transaction fee % that would be used to add an extra fees
          for selling (0-10)
        </p>
      </div>
    </div>

    <div class="form-check mt-2">
      <input
        class="form-check-input has_blacklist"
        type="checkbox"
        value=""
        id="has_blacklist_option"
      />
      <label class="form-check-label" for="has_blacklist_option">
        <p>
          <strong>Has Blacklist</strong>
        </p>
      </label>
    </div>

    <div class="form-check mt-2">
      <input
        class="form-check-input can_mint"
        type="checkbox"
        value=""
        id="can_mint_option"
      />
      <label class="form-check-label" for="can_mint_option">
        <p>
          <strong>Can Mint</strong>
        </p>
      </label>
    </div>

    <div class="form-check mt-2">
      <input
        class="form-check-input can_pause"
        type="checkbox"
        value=""
        id="can_pause_option"
      />
      <label class="form-check-label" for="can_pause_option">
        <p>
          <strong>Can Pause</strong>
        </p>
      </label>
    </div>

    <div class="form-check mt-2">
      <input
        class="form-check-input can_burn"
        type="checkbox"
        value=""
        id="can_burn_option"
      />
      <label class="form-check-label" for="can_burn_option">
        <p>
          <strong>Burn Wallets</strong>
        </p>
      </label>
    </div>

    <div class="form-group row">
      <div class="col">
        <p class="hint">
          This option allows owner to burn tokens from any wallet.
        </p>
      </div>
    </div>

    <div class="form-check mt-2">
      <input
        class="form-check-input fixed_fees"
        type="checkbox"
        value=""
        id="fixed_fees_option"
      />
      <label class="form-check-label" for="fixed_fees_option">
        <p>
          <strong>Fixed Fees</strong>
        </p>
      </label>
    </div>

    <div class="form-group row">
      <div class="col">
        <p class="hint">Owner can't change fees after deployment</p>
      </div>
    </div>

    <!-- 
    <div class="form-group row" style="display: none;">
        <label class="col-sm-3 col-form-lable">Max Transfer % </label>
        <div class="col-sm-9">
            <input value="100" class="max_tx_percent" type="number" min="0" step="1" placeholder="1" />
            <p class="hint">
                Maximum % of total supply allowed for each transaction.
            </p>
        </div>
    </div> -->

    <!-- 
    <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" value="" id="dev_wallet_option" />
        <label class="form-check-label" for="dev_wallet_option">
            <p><strong>Dev Wallet </strong> </p>
        </label>
    </div>
    <div class="row" id="dev_wallet_form" style="display: none;">
        <input class="dev_wallet" type="text" placeholder="0xF2797b9FE3eEd080358F7c09E1239fd8aF64247a" />
        <p class="hint">
            Development tax will be sent to development wallet.
        </p>
        <label class="col-sm-3 col-form-lable">Dev Fees % </label>
        <div class="col-sm-9">
            <input class="dev_fees" type="number" min="0" step="1" placeholder="1" />
            <p class="hint">
                Transaction fee in % to generate development budget.
            </p>
        </div>
    </div> -->

    <!-- <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" value="" id="extra_sell_tax_option" />
        <label class="form-check-label" for="extra_sell_tax_option">
            <p><strong>Extra Sell Tax</strong> </p>
        </label>
    </div>

    <div class="form-group row" id="extra_sell_tax_form" style="display: none;">
        <label class="col-sm-3 col-form-lable">Extra Sell Tax Fees % </label>
        <div class="col-sm-9">
            <input class="tax_fees_extra" type="number" min="0" step="1" placeholder="1" />
            <p class="hint">
                Extra fees will be applied to sell transaction.
            </p>
        </div>
    </div>

    <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" value="" id="anti_sniper_bot_option" />
        <label class="form-check-label" for="anti_sniper_bot_option">
            <p><strong>Anti Sniper Bot</strong> </p>
        </label>
    </div>

    <div class="form-group row" id="anti_sniper_bot_form" style="display: none;">
        <label class="col-sm-3 col-form-lable">Delayed Blocks</label>
        <div class="col-sm-9">
            <input class="tax_fees_extra" type="number" min="0" step="1" placeholder="5" />
            <p class="hint">
                Number of delayed blocks after launch.
            </p>
        </div>
        <label class="col-sm-3 col-form-lable">Blacklist Addresses</label>
        <div class="col-sm-3">
            <select class="form-select blacklist" aria-label="Default select example">
                <option value="0" selected>Enable</option>

            </select>
            <p class="hint">
                Can blacklist addresses.
            </p>
        </div>
    </div> -->

    <!-- <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" value="" id="whale_protection_option" />
        <label class="form-check-label" for="whale_protection_option">
            <p><strong>Whale Protection</strong> </p>
        </label>
    </div>

    <div class="row" id="whale_protection_form" style="display: none;">
        <label class="col-sm-3 col-form-lable">Max Transaction Amount</label>
        <div class="col-sm-9">
            <input class="max_tx_amount" type="number" min="0" step="1" placeholder="100000000000" />
            <p class="hint">
                Maximum number of tokens user can buy/sell in one transaction.
            </p>
        </div>
        <label class="col-sm-3 col-form-lable">Max Buy</label>
        <div class="col-sm-9">
            <input class="max_buy" type="number" min="0" step="1" placeholder="" />
            <p class="hint">
                Maximum number of tokens user can buy per transaction.
            </p>
        </div>
        <label class="col-sm-3 col-form-lable">Max Sell</label>
        <div class="col-sm-9">
            <input class="max_sell" type="number" min="0" step="1" placeholder="" />
            <p class="hint">
                Maximum number of tokens user can sell per transaction.
            </p>
        </div>
        <label class="col-sm-3 col-form-lable">Max Wallet</label>
        <div class="col-sm-9">
            <input class="max_wallet" type="number" min="0" step="1" placeholder="" />
            <p class="hint">
                Maximum number of tokens user can have in wallet.
            </p>
        </div>
    </div> -->

    <!-- 
    <div class="form-group row">
        <label class="col-sm-3 col-form-lable">Token reward </label>
        <div class="col-sm-9">
            <input class="reward_token w-100" type="text" placeholder="0xba2ae424d960c26247dd6c32edc70b295c744c43" />

            <p class="hint">Enter token address of reward token. Ex: If you want to reward DOGE, please enter
                0xba2ae424d960c26247dd6c32edc70b295c744c43.
            </p>
        </div>
    </div>
 -->

    <div class="form-group mt-3">
      <label for="exampleFormControlTextarea1">Description</label>
      <textarea
        class="form-control description"
        id="exampleFormControlTextarea1"
        rows="3"
        maxlength="2000"
        style="
          font-family: 'Courier New', Courier, monospace;
          font-size: medium;
        "
        placeholder=""
      >
      </textarea>
      <p class="hint">Info on top of contract</p>
    </div>

    <script>
      var textarea = document.getElementById("exampleFormControlTextarea1");
      var limit = 200;

      textarea.oninput = function () {
        textarea.style.height = "";
        textarea.style.height = Math.min(textarea.scrollHeight, 300) + "px";
      };
    </script>
  </form>
</div>

<script type="module">
  $("#free").validate();

  import { addPrice, subPrice } from "./static/parameters.js";

  var token_type = "free";

  function optionForm(option) {
    $("." + token_type + " ." + option)
      .parent()
      .next()
      .hide();
    $("." + token_type + " ." + option).on("click", () => {
      if ($("." + token_type + " ." + option).is(":checked")) {
        $("." + token_type + " ." + option)
          .parent()
          .next()
          .show();
      } else {
        $("." + token_type + " ." + option)
          .parent()
          .next()
          .hide();
      }
    });
  }
  var formList = [
    "max_wallet_percent",
    "max_tx_percent",
    "reward_to_holders",
    "auto_liquidity_generation",
    "burn",
    "marketing_wallet",
    "charity_wallet",
    "dev_wallet",
    "buyback_burn",
    "extra_sell",
    "can_burn",
    "fixed_fees",
  ];

  for (let i = 0; i < formList.length; i++) {
    optionForm(formList[i]);
  }

  $(".promax .marketing_wallet").on("click", () => {
    if ($(".promax .marketing_wallet").is(":checked")) {
      $(".promax .marketing_wallet_addr").prop("required", "required");
    } else {
      $(".promax .marketing_wallet_addr").prop("required", "");
    }
  });

  $(".promax .charity_wallet").on("click", () => {
    if ($(".promax .charity_wallet").is(":checked")) {
      $(".promax .charity_wallet_addr").prop("required", "required");
    } else {
      $(".promax .charity_wallet_addr").prop("required", "");
    }
  });

  $(".promax .dev_wallet").on("click", () => {
    if ($(".promax .dev_wallet").is(":checked")) {
      $(".promax .dev_wallet_addr").prop("required", "required");
    } else {
      $(".promax .dev_wallet_addr").prop("required", "");
    }
  });

  // $("#promax").validate({
  //     // Specify validation rules
  //     rules: {
  //         token_address: {
  //             ethAddress: true,
  //         },
  //         max_wallet_percent: {
  //             max: 100
  //         }
  //     },
  //     // Specify validation error messages
  //     messages: {},
  //     // Make sure the form is submitted to the destination defined
  //     // in the "action" attribute of the form when valid
  //     submitHandler: function (form) {
  //         form.submit();
  //     },
  // });
</script>

<script>
  function setReward() {
    var network = $(".network").val();
    var token_type = "free";
    var view_folder = "proTokenRewards";

    if (network == 97) {
      $("." + token_type + " .rewardContainer").load(
        "static/views/" + view_folder + "/bscTest.html"
      );
      $(".nativeToken").text("BNB");
    }
    if (network == 56) {
      $("." + token_type + " .rewardContainer").load(
        "static/views/" + view_folder + "/bsc.html"
      );
      $(".nativeToken").text("BNB");
    }

    if (network == 1) {
      $("." + token_type + " .rewardContainer").load(
        "static/views/" + view_folder + "/eth.html"
      );
      $(".nativeToken").text("ETH");
    }

    if (network == 137) {
      $("." + token_type + " .rewardContainer").load(
        "static/views/" + view_folder + "/matic.html"
      );
      $(".nativeToken").text("MATIC");
    }

    if (network == 43114) {
      $("." + token_type + " .rewardContainer").load(
        "static/views/" + view_folder + "/avalanche.html"
      );
      $(".nativeToken").text("AVAX");
    }

    if (network == 250) {
      $("." + token_type + " .rewardContainer").load(
        "static/views/" + view_folder + "/fantom.html"
      );
      $(".nativeToken").text("FTM");
    }

    if (network == 25) {
      $("." + token_type + " .rewardContainer").load(
        "static/views/" + view_folder + "/cronos.html"
      );
      $(".nativeToken").text("CRO");
    }

    if (network == 2000) {
      $("." + token_type + " .rewardContainer").load(
        "static/views/" + view_folder + "/doge.html"
      );
      $(".nativeToken").text("wDOGE");
    }

    if (network == 42161 || network == 421613) {
      $("." + token_type + " .rewardContainer").load(
        "static/views/" + view_folder + "/arbitrum.html"
      );
      $(".nativeToken").text("ETH");
    }

    if (network == 369 || network == 943) {
      $("." + token_type + " .rewardContainer").load(
        "static/views/" + view_folder + "/pulsechain.html"
      );
      $(".nativeToken").text("PLS");
    }

    $("." + token_type + " " + ".rewardContainer").on("change", () => {
      if (
        $("." + token_type + " " + ".rewardContainer").val() ==
        "0x0000000000000000000000000000000000000002"
      ) {
        $("." + token_type + " " + ".specific_reward_token").show();
      } else {
        $("." + token_type + " " + ".specific_reward_token").hide();
      }
    });

    $("." + token_type + " " + ".charityFeeType").on("change", () => {
      var feeType = $(
        "." + token_type + " " + ".charityFeeType input:radio:checked"
      ).val();
      if (feeType == "2") {
        $("." + token_type + " " + ".specific_reward_token_for_charity").show();
      } else {
        $("." + token_type + " " + ".specific_reward_token_for_charity").hide();
      }
    });

    $("." + token_type + " " + ".marketingFeeType").on("change", () => {
      var feeType = $(
        "." + token_type + " " + ".marketingFeeType input:radio:checked"
      ).val();
      if (feeType == "2") {
        $(
          "." + token_type + " " + ".specific_reward_token_for_marketing"
        ).show();
      } else {
        $(
          "." + token_type + " " + ".specific_reward_token_for_marketing"
        ).hide();
      }
    });

    $("." + token_type + " " + ".devFeeType").on("change", () => {
      var feeType = $(
        "." + token_type + " " + ".devFeeType input:radio:checked"
      ).val();
      if (feeType == "2") {
        $("." + token_type + " " + ".specific_reward_token_for_dev").show();
      } else {
        $("." + token_type + " " + ".specific_reward_token_for_dev").hide();
      }
    });
  }
  setReward();

  $(".network").on("change", () => {
    setReward();
  });

  var targetObj = {};
  var targetProxy = new Proxy(targetObj, {
    set: function (target, key, value) {
      console.log(`${key} set to ${value}`);
      target[key] = value;

      return true;
    },
  });
</script>
