<div class="marketingtax my-3">
  <div class="rewardContainer">
    <!-- <div class="alert alert-info" role="alert">
              You will receive BNB tax for the Marketing Tax token.
          </div> -->
  </div>

  <form>
    <div class="form-group row" style="display: none">
      <label class="col-sm-3 col-form-lable">Contract name</label>
      <div class="col-sm-9">
        <input
          class="contract_name"
          type="text"
          placeholder=""
          name="contract_name"
          title="Enter contract name without spaces"
          noSpaces="true"
        />
        <p class="hint">
          Choose a name for your token contract (without spaces, ex:
          MyAwesomeToken)
        </p>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-lable">Token name</label>
      <div class="col-sm-9">
        <input
          class="token_name"
          type="text"
          placeholder=""
          required
          name="token_name"
          title="Enter token name"
        />
        <p class="hint">Choose a name for your token.</p>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-lable">Token symbol </label>
      <div class="col-sm-9">
        <input
          class="token_symbol"
          type="text"
          placeholder=""
          required
          name="token_symbol"
          title="Enter token symbol"
        />
        <p class="hint">Choose a symbol for your token (usually 3-5 chars).</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-lable">Total supply </label>
      <div class="col-sm-9">
        <input
          class="token_supply"
          type="number"
          min="1"
          max="1000000000000000"
          placeholder=""
          name="token_supply"
          integer="true"
          required
        />
        <p class="hint">
          Insert the initial number of tokens available. Will be put in your
          account.
        </p>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-lable">Decimals </label>
      <div class="col-sm-9">
        <input
          class="decimals"
          type="number"
          placeholder="18"
          name="decimals"
          min="2"
          max="18"
          integer="true"
        />
        <p class="hint">Insert the decimal precision of your token.</p>
      </div>
    </div>

    <p><strong>Marketing Wallet </strong></p>

    <div class="row">
      <input
        class="marketing_wallet"
        type="text"
        placeholder=""
        name="marketingWallet"
        ethAddress="true"
        required
      />
      <p class="hint">Marketing tax will be sent to marketing wallet.</p>
    </div>

    <p><strong>Tax:</strong></p>

    <div class="form-group row">
      <label class="col-sm-3 col-form-lable">Buy Tax % </label>
      <div class="col-sm-9">
        <input
          class="buy_tax"
          type="number"
          min="0.01"
          placeholder=""
          name="buyTax"
          max="25"
          required
        />
        <p class="hint">
          Transaction fee in % to generate marketing budget when buy.
        </p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-lable">Sell Tax % </label>
      <div class="col-sm-9">
        <input
          class="sell_tax"
          type="number"
          min="0.01"
          placeholder=""
          name="sellTax"
          max="25"
          required
        />
        <p class="hint">
          Transaction fee in % to generate marketing budget when sell.
        </p>
      </div>
    </div>

    <div class="form-check mt-2">
      <input
        class="form-check-input max_tx_option"
        type="checkbox"
        value=""
        id="max_tx_option_marketingtax"
      />
      <label class="form-check-label" for="max_tx_option_marketingtax">
        <strong>Max Transaction</strong>
      </label>
    </div>

    <div class="form-group row" style="display: none">
      <label class="col-sm-3 col-form-lable">Max Transaction % </label>
      <div class="col-sm-9">
        <input
          class="max_tx_percent"
          type="number"
          min="0.01"
          placeholder=""
          name="maxTxPercent"
          max="100"
          required
        />
        <p class="hint">
          Enter the maximum transaction allowed (0.01-100 % of total supply)
        </p>
      </div>
    </div>

    <div class="form-check mt-2">
      <input
        class="form-check-input max_wallet_option"
        type="checkbox"
        value=""
        id="max_wallet_option_marketingtax"
      />
      <label class="form-check-label" for="max_wallet_option_marketingtax">
        <strong>Max Wallet</strong>
      </label>
    </div>

    <div class="form-group row" style="display: none">
      <label class="col-sm-3 col-form-lable">Max Wallet % </label>
      <div class="col-sm-9">
        <input
          class="max_wallet_percent"
          type="number"
          min="0.01"
          max="100"
          placeholder=""
          name="maxWalletPercent"
          required
        />
        <p class="hint">
          Enter the maximum wallet limit (0.01-100 % of total supply)
        </p>
      </div>
    </div>

    <div class="form-check mt-2">
      <input
        class="form-check-input fixed_fees_option"
        type="checkbox"
        value=""
        id="fixed_fees_option_marketingtax"
      />
      <label class="form-check-label" for="fixed_fees_option_marketingtax">
        <strong>Fixed Fees</strong>
      </label>
    </div>

    <div class="form-group row" style="display: none">
      <p class="hint">Owner can't change fees after deployment</p>
    </div>

    <div class="form-check mt-2">
      <input
        class="form-check-input description_option"
        type="checkbox"
        value=""
        id="description_option_marketingtax"
      />
      <label class="form-check-label" for="description_option_marketingtax">
        <strong>Description</strong>
      </label>
    </div>

    <div class="form-group row" style="display: none">
      <label for="exampleFormControlTextarea1">Description</label>
      <textarea
        class="form-control description"
        id="exampleFormControlTextarea1"
        rows="3"
        maxlength="2000"
        style="
          font-family: 'Courier New', Courier, monospace;
          font-size: medium;
        "
        placeholder=""
      >
      </textarea>
      <p class="hint">Info on top of contract</p>
    </div>

    <!-- <div class="form-group mt-3" style="display: block"></div> -->

    <script>
      var textarea = document.getElementById("exampleFormControlTextarea1");
      var limit = 200;

      textarea.oninput = function () {
        textarea.style.height = "";
        textarea.style.height = Math.min(textarea.scrollHeight, 300) + "px";
      };
    </script>
  </form>
</div>

<script>
  // $("." + "marketingtax")
  //     .find("form")
  //     .validate({
  //         rules: {
  //             marketingWallet: {
  //                 required: true,
  //                 ethAddress: true
  //             }
  //         },

  //         messages: {
  //             marketingWallet: {
  //                 required: "Enter marketing wallet",
  //                 ethAddress: "Not valid address"
  //             }
  //         }
  //     })

  $(".marketingtax .max_tx_option").on("click", () => {
    if ($(".marketingtax .max_tx_option").is(":checked")) {
      $(".marketingtax .max_tx_option").parent().next().show();
    } else {
      $(".marketingtax .max_tx_option").parent().next().hide();
    }
  });

  $(".marketingtax .max_wallet_option").on("click", () => {
    if ($(".marketingtax .max_wallet_option").is(":checked")) {
      $(".marketingtax .max_wallet_option").parent().next().show();
    } else {
      $(".marketingtax .max_wallet_option").parent().next().hide();
    }
  });

  $(".marketingtax .fixed_fees_option").on("click", () => {
    if ($(".marketingtax .fixed_fees_option").is(":checked")) {
      $(".marketingtax .fixed_fees_option").parent().next().show();
    } else {
      $(".marketingtax .fixed_fees_option").parent().next().hide();
    }
  });

  $(".marketingtax .description_option").on("click", () => {
    if ($(".marketingtax .description_option").is(":checked")) {
      $(".marketingtax .description_option").parent().next().show();
    } else {
      $(".marketingtax .description_option").parent().next().hide();
    }
  });

  function setReward() {
    var network = $(".network").val();
    var token_type = "marketingtax";
    var view_folder = "marketingTaxRewards";

    if (network == 97) {
      $("." + token_type + " .rewardContainer").load(
        "static/views/" + view_folder + "/bscTest.html"
      );
    }
    if (network == 56) {
      $("." + token_type + " .rewardContainer").load(
        "static/views/" + view_folder + "/bsc.html"
      );
    }

    if (network == 1 || network == 3) {
      $("." + token_type + " .rewardContainer").load(
        "static/views/" + view_folder + "/eth.html"
      );
    }

    if (network == 137) {
      $("." + token_type + " .rewardContainer").load(
        "static/views/" + view_folder + "/matic.html"
      );
    }

    if (network == 43114) {
      $("." + token_type + " .rewardContainer").load(
        "static/views/" + view_folder + "/avalanche.html"
      );
    }

    if (network == 250) {
      $("." + token_type + " .rewardContainer").load(
        "static/views/" + view_folder + "/fantom.html"
      );
    }

    if (network == 25) {
      $("." + token_type + " .rewardContainer").load(
        "static/views/" + view_folder + "/cronos.html"
      );
    }

    if (network == 2000) {
      $("." + token_type + " .rewardContainer").load(
        "static/views/" + view_folder + "/doge.html"
      );
    }

    if (network == 42161 || network == 421613) {
      $("." + token_type + " .rewardContainer").load(
        "static/views/" + view_folder + "/arbitrum.html"
      );
    }
  }
  setReward();

  $(".network").on("change", () => {
    setReward();
  });
</script>
