<div class="safemoon my-3">
  <form>
    <div class="form-group row">
      <label class="col-sm-3 col-form-lable">Contract name</label>
      <div class="col-sm-9">
        <input
          class="contract_name"
          type="text"
          placeholder="DeflationaryToken"
          name="contract_name"
          title="Enter contract name without spaces"
          noSpaces="true"
        />
        <p class="hint">
          Choose a name for your token contract (without spaces, ex:
          MyAwesomeToken)
        </p>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-lable">Token name</label>
      <div class="col-sm-9">
        <input
          class="token_name"
          type="text"
          placeholder=""
          required
          name="token_name"
          title="Enter token name"
        />
        <p class="hint">Choose a name for your token.</p>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-lable">Token symbol </label>
      <div class="col-sm-9">
        <input
          class="token_symbol"
          type="text"
          placeholder=""
          required
          name="token_symbol"
          title="Enter token symbol"
        />
        <p class="hint">Choose a symbol for your token (usually 3-5 chars).</p>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-lable">Total supply </label>
      <div class="col-sm-9">
        <input
          class="token_supply"
          type="number"
          min="1"
          placeholder="1000000000000000"
          name="total_supply"
          integer="true"
        />
        <p class="hint">
          Insert the initial number of tokens available. Will be put in your
          account.
        </p>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-lable">Decimals </label>
      <div class="col-sm-9">
        <input
          class="decimals"
          type="number"
          min="0"
          placeholder="18"
          name="decimals"
          integer="true"
          max="255"
        />
        <p class="hint">Insert the decimal precision of your token.</p>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-lable">Tax Fees % </label>
      <div class="col-sm-9">
        <input
          class="tax_fees"
          type="number"
          min="0"
          placeholder="5"
          integer="true"
          max="25"
          name="tax_fees"
        />
        <p class="hint">Transaction fee in % to generate yield.</p>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-lable">Liquidity Fees % </label>
      <div class="col-sm-9">
        <input
          class="liquidity_fees"
          type="number"
          min="0"
          placeholder="5"
          integer="true"
          max="25"
          name="liquidity_fees"
        />
        <p class="hint">Transaction fee in % to generate liquidity.</p>
      </div>
    </div>

    <div class="form-check mt-2">
      <input
        class="form-check-input max_tx_option"
        type="checkbox"
        value=""
        id="max_tx_option_safemoon"
      />
      <label class="form-check-label" for="max_tx_option_safemoon">
        <strong>Max Transaction</strong>
      </label>
    </div>
    <br />
    <div class="form-group row" style="display: none" id="max_tx">
      <label class="col-sm-3 col-form-lable">Max Transaction Amount </label>
      <div class="col-sm-9">
        <input
          class="max_tx_amount"
          type="number"
          min="0"
          placeholder="100000000000000"
          name="max_tx_amount"
          integer="true"
        />
        <p class="hint">
          Maximum amount of tokens allowed for each transaction.
        </p>
      </div>
    </div>
    <div class="form-group mt-3" style="display: none">
      <label for="exampleFormControlTextarea1">Description (optional)</label>
      <textarea
        class="form-control description"
        id="exampleFormControlTextarea1"
        rows="3"
        maxlength="2000"
        style="
          font-family: 'Courier New', Courier, monospace;
          font-size: medium;
        "
        placeholder=""
      >
      </textarea>
      <p class="hint">Info on top of contract</p>
    </div>

    <script>
      var textarea = document.getElementById("exampleFormControlTextarea1");
      var limit = 200;

      textarea.oninput = function () {
        textarea.style.height = "";
        textarea.style.height = Math.min(textarea.scrollHeight, 300) + "px";
      };
    </script>
  </form>
</div>

<script type="module">
  import { addPrice, subPrice } from "./static/parameters.js";

  $(".safemoon .max_tx_option").on("click", () => {
    if ($(".safemoon .max_tx_option").is(":checked")) {
      $(".safemoon #max_tx").show();
    } else {
      $(".safemoon #max_tx").hide();
    }
  });
</script>
